apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gatus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://twin.github.io/helm-charts
    chart: gatus
    targetRevision: 1.4.5
    helm:
      releaseName: gatus
      values: |
        persistence:
          enabled: true
          storageClass: longhorn
          size: 2Gi
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        serviceMonitor:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: gatus
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
