apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: media-infrastructure
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: git@github.com:s33g/infra.git
    path: apps/media
    targetRevision: HEAD
    directory:
      recurse: false
      include: '{namespace.yaml,pvc-*.yaml}'
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
