apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sabnzbd
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  sources:
    - repoURL: https://bjw-s-labs.github.io/helm-charts
      chart: app-template
      targetRevision: 4.6.2
      helm:
        releaseName: sabnzbd
        values: |
          controllers:
            sabnzbd:
              containers:
                app:
                  image:
                    repository: ghcr.io/home-operations/sabnzbd
                    tag: 4.5.5
                  env:
                    TZ: Europe/London
                    SABNZBD__PORT: &port 80
                    SABNZBD__HOST_WHITELIST_ENTRIES: >-
                      sabnzbd,
                      sabnzbd.media,
                      sabnzbd.media.svc,
                      sabnzbd.media.svc.cluster,
                      sabnzbd.media.svc.cluster.local
                  envFrom:
                    - secretRef:
                        name: sabnzbd-secrets
                  probes:
                    liveness:
                      enabled: true
                    readiness:
                      enabled: true
                  resources:
                    requests:
                      cpu: 100m
                      memory: 256Mi
                    limits:
                      cpu: 1000m
                      memory: 1Gi
                   securityContext:
                     allowPrivilegeEscalation: false
                     readOnlyRootFilesystem: false
                     capabilities:
                       drop:
                         - ALL
           defaultPodOptions:
             securityContext:
               runAsUser: 0
               runAsGroup: 0
               fsGroup: 0
               fsGroupChangePolicy: OnRootMismatch
           service:
            app:
              controller: sabnzbd
              ports:
                http:
                  port: *port
          persistence:
              config:
                existingClaim: sabnzbd-config-pvc
                globalMounts:
                  - path: /config
              media:
                type: hostPath
                hostPath: /mnt/media/sabnzbd
                globalMounts:
                  - path: /mnt/media/sabnzbd
    - repoURL: git@github.com:s33g/infra.git
      targetRevision: HEAD
      path: apps/media/sabnzbd
      directory:
        include: 'external-secret.yaml'
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
