apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: plex
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  sources:
    - repoURL: https://k8s-home-lab.github.io/helm-charts/
      chart: plex
      targetRevision: 7.2.1
      helm:
        releaseName: plex
        values: |
          image:
            repository: lscr.io/linuxserver/plex
            tag: 1.41.7
          env:
            TZ: Europe/London
            PUID: "1000"
            PGID: "1000"
            PLEX_CLAIM:
              valueFrom:
                secretKeyRef:
                  name: plex-secrets
                  key: plex_claim
          service:
            main:
              ports:
                http:
                  port: 32400
          persistence:
              config:
                enabled: true
                existingClaim: plex-config-pvc
              movies:
                enabled: true
                type: hostPath
                hostPath: /mnt/media/Movies
                mountPath: /mnt/media/Movies
              tv:
                enabled: true
                type: hostPath
                hostPath: /mnt/media/TV
                mountPath: /mnt/media/TV
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 2000m
              memory: 2Gi
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /identity
                  port: http
                initialDelaySeconds: 60
                periodSeconds: 30
                timeoutSeconds: 5
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /identity
                  port: http
                initialDelaySeconds: 30
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 2
    - repoURL: git@github.com:s33g/infra.git
      targetRevision: HEAD
      path: apps/media/plex
      directory:
        include: 'external-secret.yaml'
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
