apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: uptime-kuma
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.irsigler.cloud
    chart: uptime-kuma
    targetRevision: 2.22.0
    helm:
      releaseName: uptime-kuma
      values: |
        image:
          tag: "2"
        persistence:
          enabled: true
          storageClass: longhorn
          size: 2Gi
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        livenessProbe:
          enabled: true
          initialDelaySeconds: 180
          periodSeconds: 60
          timeoutSeconds: 30
        readinessProbe:
          enabled: true
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
  destination:
    server: https://kubernetes.default.svc
    namespace: uptime-kuma
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences: []
  info:
    - name: status
      value: disabled
