---
- name: Update Debian
  hosts: media
  become: true
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: full

    - name: Clean up apt cache
      ansible.builtin.apt:
        autoclean: true
        autoremove: true
