---
- name: Create Docker Compose stack for Authentik
  hosts:
    - r2d2
  vars:
    authentik:
      db:
        user: authentik
        name: authentik
        password: "1234"
      compose_url: "https://raw.githubusercontent.com/S33G/authentik/refs/heads/feature/add-env-overrides-to-compose/docker-compose.yml"
    env:
      AUTHENTIK_TAG: "2024.12.3"
      AUTHENTIK_SECRET_KEY: "{{ secrets.authentik.secret }}"
      PG_USER: "{{ authentik.db.user }}"
      PG_DB: "{{ authentik.db.name }}"
      PG_PASS: "{{ authentik.db.password }}"
  become: true
  tasks:
    - name: Check password is shorter than 99 characters
      assert:
        that: "authentik.db.password | length < 99"
        msg: "Password is too long, must be less than 99 characters"

    - name: Create directory for Authentik
      ansible.builtin.file:
        path: /opt/authentik
        state: directory
      register: authentik_dir

    - name: Template .env file
      ansible.builtin.copy:
        dest: "{{ authentik_dir.path }}/.env"
        content: |
          {% for key, value in env.items() %}
          {{ key }}={{ value }}
          {% endfor %}
      register: copy_env_file

    - name: Download Authentik Docker Compose file
      ansible.builtin.get_url:
        url: "{{ authentik.compose_url }}"
        dest: "{{ authentik_dir.path }}/docker-compose.yml"

    - name: Start Authentik
      community.docker.docker_compose_v2:
        project_name: authentik
        state: present
        project_src: "{{ authentik_dir.path }}"

