---

- name: Deploy C3PO containers
  hosts: c3po
  become: true
  vars:
    install_docker: false
    deemix_access_token: "{{ secrets.deemix_access_token | default('secret_not_set') }}"
    deemix_access_arl: ""
  module_defaults:
    community.docker.docker_container:
      restart_policy: unless-stopped
      state: started
      comparisons:
        "*": strict
        env: allow_more_present

  handlers:
    - name: Prune Docker images
      community.docker.docker_prune:
        images: true
        images_filters:
          dangling: false

  roles:
    # - role: seeg
    # - role: geerlingguy.docker
    #   when: install_docker is defined and install_docker | bool
    #   vars:
    #     docker_users:
    #       - "seeg"
    # - role: public-www
    #   vars:
    #     nginx_public: /etc/nginx_public
    #     nginx_port: 8069
    #     nginx_version: latest
    - role: containers
      vars:
        prune_docker_images: true
        create_container_launcher_page: true

  post_tasks:
    - name: Configure qBittorrent settings
      community.general.ini_file:
        path: /opt/qbittorrent/qBittorrent/qBittorrent.conf
        section: "{{ item.section }}"
        option: "{{ item.option }}"
        value: "{{ item.value }}"
        no_extra_spaces: true
        state: present
      loop:
        - { section: "LegalNotice", option: "Accepted", value: "true" }
        - { section: "Preferences", option: "WebUI\\AlternativeUIEnabled", value: "true" }
        - { section: "Preferences", option: "WebUI\\AuthSubnetWhitelist", value: "{{ ansible_hostname }},{{ ansible_fqdn }}" }
        - { section: "Preferences", option: "WebUI\\AuthSubnetWhitelistEnabled", value: "true" }
        - { section: "Preferences", option: "WebUI\\CSRFProtection", value: "true" }
        - { section: "Preferences", option: "WebUI\\HostHeaderValidation", value: "false" }
        - { section: "Preferences", option: "WebUI\\RootFolder", value: "/vuetorrent" }
        - { section: "Preferences", option: "WebUI\\TrustedProxies", value: "{{ ansible_hostname }},{{ ansible_fqdn }}" }

    - name: Add deemix access token
      ansible.builtin.copy:
        dest: /opt/deemix/login.json
        content: '{ access_token: "{{ deemix_access_token }}", arl: "{{ deemix_access_arl |  default ("")}}" }'
      when: deemix_access_token is defined and deemix_access_token | length > 0



