---
- name: Host init
  hosts:
    - gpu
    - r2d2
    - c3po
    - deathstar
    - jocasta
  become: true
  roles:
    - role: seeg
  tasks:
    - name: Generate an OpenSSH keypair with the default values (4096 bits, rsa) and encrypted private key
      community.crypto.openssh_keypair:
        path: ~/.ssh/id_rsa

    - name: Copy public key to remote host
      ansible.posix.authorized_key:
        user: seeg
        state: present
        key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

    - name: Allow passwordless sudo for 'sudo' group
      community.general.sudoers:
        name: passwordless_sudo
        group: sudo
        nopassword: true
        commands: ALL
        runas: ALL:ALL
        state: present

