---

- name: Deploy media stack
  hosts: c3po
  become: true
  module_defaults:
    community.docker.docker_container:
      restart_policy: unless-stopped
      state: started
      comparisons:
        "*": strict
        env: allow_more_present
  handlers:
    - name: Prune Docker images
      community.docker.docker_prune:
        images: true
        images_filters:
          dangling: false
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          "{{ ansible_user }}"
    - role: containers
    # TODO: Add step to copy:
    # /etc/media-server/deemix/login.json (DEEMIX_ARL)
    # /etc/media-server/deemix/config.json (DEEMIX_CONFIG)
