---
- name: Mount shares
  hosts: c3po
  become: true
  pre_tasks:
    - name: Install required packages
      ansible.builtin.package:
        name:
          - cifs-utils
          - smbclient
        state: present
      become: true

  tasks:
    - name: Mount Media SMB volume
      ansible.posix.mount:
        src: //jocasta.home/Media
        path: /mnt/media
        opts: "rw,vers=3,file_mode=0644,dir_mode=0755,uid=1000,gid=1000,forceuid,dom=home,username=server,password=UC_-aZHMwjgVKNEWcuRPH63dr2qaxarE*KsybgQTVbFC8PT_uLtKUNjxHWsjN!Yc4uMyvT87ww*buuCq"
        opts_no_log: true
        fstype: cifs
        state: mounted
