---

- name: Update Debian
  hosts: all
  become: true
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: full

    - name: Clean up apt cache
      ansible.builtin.apt:
        autoclean: yes
        autoremove: yes
