apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sonarr
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  sources:
    - repoURL: https://k8s-home-lab.github.io/helm-charts/
      chart: sonarr
      targetRevision: 17.2.1
      helm:
        releaseName: sonarr
        values: |
          image:
            repository: lscr.io/linuxserver/sonarr
            tag: 4.0.14
          env:
             TZ: Europe/London
             PUID: "1000"
             PGID: "1000"
          service:
             main:
               ports:
                 http:
                   port: 8989
          persistence:
              config:
                enabled: true
                existingClaim: sonarr-config-pvc
              media:
                enabled: true
                type: hostPath
                hostPath: /mnt/media/sonarr
                mountPath: /mnt/media/sonarr
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
