apiVersion: v1
kind: Service
metadata:
  name: go-api
  namespace: go-api
  labels:
    app.kubernetes.io/name: go-api
    app.kubernetes.io/managed-by: argocd
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  selector:
    app: go-api
