apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pinchflat
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  source:
    repoURL: https://bjw-s-labs.github.io/helm-charts
    chart: app-template
    targetRevision: 4.6.2
    helm:
      releaseName: pinchflat
      values: |
        controllers:
          pinchflat:
            containers:
              app:
                image:
                  repository: ghcr.io/kieraneglin/pinchflat
                  tag: latest
                env:
                  TZ: Europe/London
                  PUID: "1000"
                  PGID: "1000"
                probes:
                  liveness:
                    enabled: true
                  readiness:
                    enabled: true
                resources:
                  requests:
                    cpu: 10m
                    memory: 256Mi
                  limits:
                    cpu: 1000m
                    memory: 1Gi
                securityContext:
                  allowPrivilegeEscalation: false
                  readOnlyRootFilesystem: false
                  capabilities:
                    drop:
                      - ALL
        service:
          app:
            controller: pinchflat
            ports:
              http:
                port: 8945
         persistence:
           config:
             existingClaim: pinchflat-config-pvc
             globalMounts:
               - path: /config
           media:
             type: hostPath
             hostPath: /mnt/media/pinchflat
             globalMounts:
               - path: /mnt/media/pinchflat
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
