---
name: Ansible Lint

on:
  push:
    branches: ['main']
    paths: ['ansible/**']
  pull_request:
    paths: ['ansible/**']
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      ANSIBLE_DIR: ansible
    steps:
      - uses: actions/checkout@v4

      # TODO: pin to version if dependency management is added, e.g. renovate.
      - uses: ansible/ansible-lint@main
        with:
          working_directory: ${{ env.ANSIBLE_DIR }}
          requirements_file: requirements.yml
